issuer={{issuer}}

jdbc.driverClassName={{jdbc_driverClassName}}
jdbc.url={{jdbc_url}}
jdbc.username={{jdbc_username}}
jdbc.password={{jdbc_password}}

idp.metadata.url={{idp_metadata_url}}
idp.entity.id={{idp_entity_id}}
idp.public.certificate={{idp_public_certificate}}
sp.entity.id={{sp_entity_id}}
sp.private.key={{sp_private_key}}
sp.public.certificate={{sp_public_certificate}}
sp.passphrase={{sp_passphrase}}
sp.entity.base.url={{sp_entity_base_url}}

client.conf.location={{client_conf_location}}